{% extends "annotate/base_generic.html" %}

{% block page_title %}
Password Reset
{% endblock %}

{% block content %}

    {% if validlink %}
    <p>Please enter (and confirm) your new password.</p>

    <form action="" method="post", class="form_login_username">
        {% csrf_token %}
        <li>{{ form.new_password1.errors }}</li>
        <li><p class="form_title">New Password</p></li>
        <li>{{ form.new_password1 }}</li>
        <li>{{ form.new_password2.errors }}</li>
        <li><p class="form_title">Confirm Password</p></li>
        <li>{{ form.new_password2 }}</li>
        <li>
            <input type="submit" value="Change my password">
        </li>
        <li><a href="{% url 'password_reset' %}">Lost password?</a></li>
    </form>

  {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}

{% endblock %}