{% extends "annotate/base_generic.html" %}

{% block page_title %}
Password Reset
{% endblock %}

{% block content %}
  <!-- class form_login_username overrides 100% text input lenght defined in form style -->
<form action="" method="post", class="form_login_username">
    {% csrf_token %}

    {% if form.email.errors %}
        <li>{{ form.email.errors }}</li>
    {% endif %}
    <li>{{ form.email }}</li>
    <li>
      <input type="submit" value="Reset Password">
    </li>
    <li><a href="{% url 'login'%}">Click here to login again.</a></li>
  </form>
{% endblock %}