{% extends "annotate/base_generic.html" %}
{% load verbose_names %}
{% load static %}

{% block sidebar %}
<a href="{% url 'annotate:index' %}">< Dashboard</a>
{% endblock %}

{% block page_title %}
Check-Worthy Sentences
{% endblock %}

{% block content %}

    {% if sentence_list %}

        <table class="simple_table">
            <colgroup>
                <col width="5%" />
                <col width="5%" />
                <col width="5%" />
                <col width="5%" />
                <col width="5%" />
                <col width="5%" />
                <col width="5%" />
                <col width="5%" />
                <col width="10%" />
                <col width="5%" />
                <col width="5%" />
                <col width="10%" />
                <col width="30%" />
            </colgroup>
            <tr>
                <th></th>
                <th>{% get_verbose_field_name sentence_list.0 "item_id" %}</th>
                <th>{% get_verbose_field_name sentence_list.0 "new_sentence_id" %}</th>
                <th>{% get_verbose_field_name sentence_list.0 "review_level" %}</th>
                <th>{% get_verbose_field_name sentence_list.0 "sentence_class" %}</th>
                <th>{% get_verbose_field_name sentence_list.0 "sentence_class_auto" %}</th>
                <th>{% get_verbose_field_name sentence_list.0 "sentence_class_score_auto" %}</th>
                <th>{% get_verbose_field_name sentence_list.0 "spo_type" %}</th>
                <th>{% get_verbose_field_name sentence_list.0 "big_subject" %}</th>
                <th>{% get_verbose_field_name sentence_list.0 "big_predicate" %}</th>
                <th>{% get_verbose_field_name sentence_list.0 "manually_identified_predicate" %}</th>
                <th>{% get_verbose_field_name sentence_list.0 "big_object" %}</th>
                <th>{% get_verbose_field_name sentence_list.0 "sentence" %}</th>
            </tr>
            {% for sentence in sentence_list %}
            <tr>
                <td><a href="{% url 'annotate:cw_sentence_detail' sentence.id %}" title="View sentence">&#128065;</a>
                    <a href="{% url 'annotate:cw_sentence_update' sentence.id %}?next={{ request.get_full_path }}" title="Edit sentence">&#128221;</a>
                    <a id="nextReviewLevel" title="Next review level" href="#" onclick="NextReviewLevel({{ sentence.id }}, {{ sentence.review_level }});return false;">&#9193;</a></td>
                <td><a href="{% url 'annotate:item_detail' sentence.item_id %}">{{ sentence.item_id }}</a></td>
                <td>{{ sentence.new_sentence_id }}</a></td>
                <td>{{ sentence.review_level }}</td>
                <td>{{ sentence.sentence_class }}</td>
                <td>{{ sentence.sentence_class_auto }}</td>
                <td>{{ sentence.sentence_class_score_auto|floatformat:4 }}</td>
                <td class="ellipsis_cell">{{ sentence.spo_type }}</td>
                <td class="ellipsis_cell">{{ sentence.big_subject }}</td>
                <td class="ellipsis_cell">{{ sentence.big_predicate }}</td>
                <td class="ellipsis_cell">{{ sentence.manually_identified_predicate }}</td>
                <td class="ellipsis_cell">{{ sentence.big_object }}</td>
                <td class="ellipsis_cell">{{ sentence.sentence }}</td>
            </tr>
            {% endfor %}
        </table>

    {% else %}
        <div class="row">
            <p>No sentences are available.</p>
        </div>
    {% endif %}

    <script src="{% static 'annotate/js/sentence.js' %}"></script>

{% endblock %}